.page-header {
    background-color: #22881E;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    text-align: center;
}

h1,
h2,
h3,
h4 {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

table {
    width: 70%;
    border: 1px solid;
    margin: auto;
  }
th {
    border: 1px solid;
    height: 30px;
  }
td {
    border: 1px solid;
  }
a {
    color: green;
}